$orange: #E26D5A;
$blue: #3C91E6;
$gray: #393E41;
$secondary: $gray;
$info: $orange;
@import 'node_modules/bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
}

a:hover {
    color: inherit;
}

footer {
    padding: 2rem 0;
    background-color: #02182B;

    ul {
        margin: 0;
    }
    li, a {
        color: white;
    }
}
